#contact{
   padding: 2em 13em;
}

.contact-para{
   font-weight: normal;
   font-family: 'Roboto', sans-serif;
   font-size: 1.5rem;
}

#contact-btn{
   padding: 0.35em 0.85em;
   border-radius: 28px;
   font-size: 1.1rem;
   border: 0;
   background-color: #0771D0;
   color: #fff;
}

#contact-btn:hover{
   transition: all 0.25s ease;
   background-color: #000;
   cursor: pointer;
}

.master-contact-grid{
   display: flex;
   justify-content: center;
   gap: 10em;
}

@media (max-width:768px) {
   .master-contact-grid{
      display: block;
      
   }

   #contact-btn{
      margin-top: 2em;
   }
}

@media (max-width:1024px) {
   #contact{
      padding: 2em 10em;
   }
}

@media (max-width:936px) {
   #contact{
      padding: 2em 08em;
   }
}

@media (max-width:866px) {
   #contact{
      padding: 2em 05em;
   }
}

@media (max-width:477px) {
   .contact-para{
      font-size: 1.3rem;
   }
}

@media (max-width:435px) {
   .contact-para{
      font-size: 1.1rem;
   }

   #contact-btn{
      font-size: 1rem;
   }
}

@media (max-width:320px) {
   #contact-title{
      font-size: 1.8rem;
   }
}